<!-- search -->
<div class="container search">
	<div class="row">
		<div class="col-md-12 ">
			<app-search-field></app-search-field>
		</div>
	</div>
</div>

<!--Image, review- rate - details-->
<div class="container ">
	<div class="row">
		<div class="col-md-3 text-center">
			<img src="http://brandonmathis.com/projects/fancy-avatars/demo/images/avatar_male_dark_on_clear_200x200.png" alt="Mountain View"
				style="width:250px;height:250px; border: #000000 3px outset; display: block;">
			<!--<app-business-image></app-business-image>-->
		</div>
		<div class="col-md-5 rating">
			<address>
				<strong>Milad</strong><br> Miami, FL 33199<br>
			</address>
		</div>
		<div class="col-md-4 text-center">
			<div class="row">
				<div class="col-md-12 top-buffer">
					<button type="button" class="btn btn-secondary btn-block"><i class="fa fa-pencil-square"></i> Update Your Profile</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 top-buffer">
					<button type="button" class="btn btn-secondary btn-block"><i class="fa fa-camera"></i> Add Profile Photos</button></div>
			</div>
		</div>
	</div>


	<!-- empthy column - reviews-->
	<div class="container customContainer" style="border-top:medium #5e5e5e solid;">
		<div class="row">
			<div class="col-md-3" style="border-right:medium #5e5e5e solid; ">
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-2">
						<img src="http://brandonmathis.com/projects/fancy-avatars/demo/images/avatar_male_dark_on_clear_200x200.png" alt="Mountain View"
							style="width:75px;height:75px; border: #000000 3px outset; display: block;">
					</div>
					<div class="col-md-7">
						<p>I have ordered a few times, but i must say they definitely rocked this most recent time.</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<img src="http://brandonmathis.com/projects/fancy-avatars/demo/images/avatar_male_dark_on_clear_200x200.png" alt="Mountain View"
							style="width:75px;height:75px; border: #000000 3px outset; display: block;">
					</div>
					<div class="col-md-7">
						<p>I have ordered a few times, but i must say they definitely rocked this most recent time.</p>
					</div>
				</div>
				<hr>
			</div>