
      <!--LOGO Container - search box-->
      <div class="jumbotron" id="box-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class= "col-md-12">
                  <app-search-field></app-search-field>
              </div>
            </div>
          </div>
      </div>

      <!--Buttons Containers -->
      <div class="jumbotron vertical-center">
        <div class="container">
          <div class="row">
              <div class= "col-md-1"></div>
              <div class= "col-md-2 customDev text-center vcenter">
                  <a href="/search"><i class="fa fa-cutlery fa-5x"></i></a>
                  <h4>Restaurants</h4>
              </div>
              <div class= "col-md-2 customDev text-center vcenter">
                  <a href="/search"><i class="fa fa-shopping-bag fa-5x"></i></a>
                  <h4>Shopping</h4>
              </div>
              <div class= "col-md-2 customDev text-center vcenter">
                  <a href="/search"><i class="fa fa-heartbeat fa-5x"></i></a>
                  <h4>Medical</h4>
              </div>
              <div class= "col-md-2 customDev text-center vcenter">
                  <a href="/search"><i class="fa fa-graduation-cap fa-5x"></i></a>
                  <h4>Education</h4>
              </div>
              <div class= "col-md-2 customDev text-center vcenter ">
                  <a href="/search"><i class="fa fa-coffee fa-5x"></i></a>
                  <h4>Coffee & Tea</h4>
              </div>
              <div class= "col-md-1"></div>

          </div>
      </div>
      </div>