<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome to UniPs</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h2>
            Welcome to UniPS
        </h2>
        <p>
            Your account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a th:href="@{link}"
               th:text="${link}">Activation Link</a>
        </p>
        <p>
           Enjoy!
        </p>
    </body>
</html>
