.search {
    margin-top: 5%;
    margin-bottom: 5%;

}

.rating {
    padding-top: 1%;
    padding-left: 1%;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}

.customContainer{
    padding-top: 2%;
    margin-top: 3%;
}
.top-buffer {
    margin-top:20px;
} 
