<!-- search -->
<div class="container search">
	<div class="row">
		<div class="col-md-12 ">
			<app-search-field></app-search-field>
		</div>
	</div>
</div>

<!--Image, review- rate - details-->
<div class="container ">
	<div class="row">
		<div class="col-md-3 text-center">
			<img src="https://yt3.ggpht.com/-9I9HElh2aVA/AAAAAAAAAAI/AAAAAAAAAAA/smWcQnw3JFE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="Mountain View"
				style="width:250px;height:250px; border: #000000 3px outset; display: block;">
			<!--<app-business-image></app-business-image>-->
		</div>
		<div class="col-md-5 rating">
			<address>
				<strong>Subway</strong><br> Location: Graham Center (GCbr>
			</address>
		</div>
		<div class="col-md-4 text-center">
			<div class="row">
				<div class="col-md-12 top-buffer">
					<button type="button" class="btn btn-secondary btn-block"><i class="fa fa-pencil-square"></i>Edit Business Profile</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 top-buffer">
					<button type="button" class="btn btn-secondary btn-block"><i class="fa fa-camera"></i> Add Photos</button></div>
			</div>
		</div>
	</div>


	<!-- empthy column - reviews-->
	<div class="container customContainer" style="border-top:medium #5e5e5e solid;">
		<div class="row">
			<div class="col-md-3" style="border-right:medium #5e5e5e solid; ">
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-2">
						<img src="http://brandonmathis.com/projects/fancy-avatars/demo/images/avatar_male_dark_on_clear_200x200.png" alt="Mountain View"
							style="width:75px;height:75px; border: #000000 3px outset; display: block;">
					</div>
					<div class="col-md-7">
            <div class="row">
              <div class="col-md-12">
                <p>The lady with the big forehead she is so crazy, she never changes her gloves. She threatens customers all the time.</p>
              </div>
              <div class="col-md-12">
                <span class="pull-right"><button type="button" class="btn btn-secondary">Report <i class="fa fa-flag" aria-hidden="true"></i></button></span>
              </div>
            </div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<img src="http://brandonmathis.com/projects/fancy-avatars/demo/images/avatar_male_dark_on_clear_200x200.png" alt="Mountain View"
							style="width:75px;height:75px; border: #000000 3px outset; display: block;">
					</div>
					<div class="col-md-7">
            <div class="row">
              <div class="col-md-12">
                <p>Service wasn't that bad, I kinda expected a little bit more meat in my sub than what they gave me.</p>
              </div>
              <div class="col-md-12">
                <span class="pull-right"><button type="button" class="btn btn-secondary">Report <i class="fa fa-flag" aria-hidden="true"></i></button></span>
              </div>
            </div>
					</div>
				</div>
				<hr>
			</div>
