

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-search-field></app-search-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p> Filters </p>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownFilterButton" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
        Category
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownFilterButton">
        <button class="dropdown-item" type="button">Restaurants</button>
        <button class="dropdown-item" type="button">Shopping</button>
        <button class="dropdown-item" type="button">Health & Medical</button>
        <button class="dropdown-item" type="button">Education</button>
        <button class="dropdown-item" type="button">Coffee & Tea</button>
      </div>
      <div>
        <p> Rating Component </p>
      </div>
      <div class="btn-group-vertical" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" autocomplete="off"> Open Now
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> New Business
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> Study Spot
        </label>
</div>
    </div>

    <div class="col-md-8">
      <p> Results </p>

      <div class="row">
        <div class="col-md-4">
          <p> Picture of Chilis </p>
        </div>
        <div class="col-md-8">
          <p> Rating Component: </p>
        </div>
        <div class="col-md-12">
          <p> Family-friendly chain serving classic Tex-Mex & American food in a Southwestern-style setting</p>
        </div>
      </div> 

      <div class="row">
        <div class="col-md-4">
          <p> Picture of Subway </p>
        </div>
        <div class="col-md-8">
          <p> Rating Component: </p>
        </div>
        <div class="col-md-12">
          <p> Discover better-for-you sub sandwiches at Subway</p>
        </div>
      </div>      
      
      <div class="row">
        <div class="col-md-4">
          <p> Picture of Pollo Tropical  goes here </p>
        </div>
        <div class="col-md-8">
          <p> Rating Component: </p>
        </div>
        <div class="col-md-12">
          <p>Take your senses to an oasis of flavors. Our days start early chopping, slicing and grilling, making sauces from scratch and soaking our own beans. 
            We’re freshness fanatics on a never-ending quest to make sure that life tastes better under the palm. </p>
        </div>
      </div>
      </div>
    </div>
  </div>
