<!--The register component template contains a simplae registration form with fields for
 first name, last name, username and password. -->
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Register with UniPS</h2>
            <p>Please pick the account you would like to register for:</p>
            <label class="custom-control custom-radio">
              <input (change)="userFieldToggle()" id="radio1" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">User Account </span>
            </label>
            <label class="custom-control custom-radio">
              <input (change) = "businessFieldToggle()" id="radio2" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Business Account</span>
            </label>
        </div>
        <div class="col-md-12">
            <form name="form" (ngSubmit)="onSubmit(f.value)" #f="ngForm" novalidate>

                <!--First Name and Last Name -->
                <div class="row">
                    <div class="col-md-6">
                        <div *ngIf="defaultFieldsViawable()" class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" ngModel [(ngModel)]="model.firstName"  required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div *ngIf="defaultFieldsViawable()" class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" ngModel [(ngModel)]="model.lastName"  required />
                        </div>
                    </div>
                </div>
                <!-- Business Name -->
                <div *ngIf="isBusinessFieldActive()" class="form-group">
                    <label for="businessName">Business Name</label>
                    <input type="text" class="form-control" name="businessName" ngModel [(ngModel)]="model.businessName" />
                </div>
                <!-- user name -->
                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" ngModel [(ngModel)]="model.username" required />
                </div>

                <!-- password -->
                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" ngModel [(ngModel)]="model.password" required />
                </div>

                <!-- email -->
                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" ngModel [(ngModel)]="model.email" required />
                </div>

                <!-- Business Name -- >
                <div *ngIf="isBusinessFieldActive()" class="form-group">
                    <label for="businessName">Business Name</label>
                    <input type="text" class="form-control" name="businessName" [(ngModel)]="model.businessName" #businessName="ngModel" />
                </div>


                <div *ngIf="isBusinessFieldActive()" class="">
                  <h5>Category</h5>
                  <select class="form-control" [(ngModel)]="model.categoryValue" name="category">
                    <option value="restaurant">Restaurants</option>
                    <option value="shopping">Shopping</option>
                    <option value="health">Health and Medicine</option>
                    <option value="education">Education</option>
                    <option value="coffee">Coffee & Tea</option>
                  </select>

                </div>

                <!-- Address -->
                <div *ngIf="isBusinessFieldActive()" class="form-group">
                    <label for="address"> Street Address</label>
                    <input type="text" class="form-control" name="street" ngModel [(ngModel)]="model.street" />
                </div>

                <div *ngIf="isBusinessFieldActive()" class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" ngModel [(ngModel)]="model.city" />
                </div>

                <!-- Zip Code -->
                <div *ngIf="isBusinessFieldActive()" class="form-group">
                    <label for="zipcode">Zip Code</label>
                    <input type="number" class="form-control" name="zipcode" ngModel [(ngModel)]="model.zipcode"  />
                </div>



                <!-- Personal Phone Number Field -->
                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="personalNumber">Personal Phone Number</label>
                    <input type="number" class="form-control" name="personalNumber" ngModel [(ngModel)]="model.personalNumber" />
                </div>

                <!-- Business Phone Number Field -->
                <div *ngIf="isBusinessFieldActive()" class="form-group" >
                    <label for="businessNumber">Business Phone Number</label>
                    <input type="number" class="form-control" name="businessNumber" ngModel [(ngModel)]="model.businessNumber" />
                </div>

                <h4 *ngIf="defaultFieldsViawable()"> Security Questions </h4>
                <div *ngIf="defaultFieldsViawable()" class="form-group">
                  <label for="securityQuestion1"><h5>What is your mother's maiden name?</h5></label>
                </div>

                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="answer1">Answer</label>
                    <input type="text" class="form-control" name="answer1" ngModel [(ngModel)]="model.answer1" required />
                </div>


                <div *ngIf="defaultFieldsViawable()" class="form-group">
                    <label for="securityQuestion2"><h5>What is your favorite place to visit as a child?</h5></label>
                </div>

                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="answer2">Answer</label>
                    <input type="text" class="form-control" name="answer2" [(ngModel)]="model.answer2" #answer2="ngModel" required />
                </div>

                <button type="submit" class="btn btn-success center-block">Register</button>
                <a [routerLink]="['/home']" class="btn btn-link center-block">Cancel</a>
            </form>
        </div>
    </div>
</div>
