<!--The register component template contains a simplae registration form with fields for
 first name, last name, username and password. -->
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Register with UniPS</h2>
            <p>Please pick the account you would like to register for:</p>
            <label class="custom-control custom-radio">
              <input (change)="userFieldToggle()" id="radio1" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">User Account </span>
            </label>
            <label class="custom-control custom-radio">
              <input (change) = "businessFieldToggle()" id="radio2" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Business Account</span>
            </label>
        </div>
        <div class="col-md-12">
            <form name="form" (ngSubmit)="register(f.value)" #f="ngForm" novalidate>

                <!-- Business Name -->
                <h4 *ngIf="defaultFieldsViawable()">Account Information</h4>
                <div *ngIf="isBusinessFieldActive()" class="form-group">
                    <label for="businessName">Business Name</label>
                    <input type="text" class="form-control" name="name" ngModel [(ngModel)]="model.businessName" required/>
                </div>
                <!-- user name -->
                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" ngModel [(ngModel)]="model.username" required />
                </div>

                <!-- password -->
                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" ngModel [(ngModel)]="model.password" required />
                </div>

                <!-- email -->
                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" ngModel [(ngModel)]="model.email" required />
                </div>

                <!-- Business Name -- >
                <div *ngIf="isBusinessFieldActive()" class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="businessName">Business Name</label>
                    <input type="text" class="form-control" name="businessName" [(ngModel)]="model.businessName" #businessName="ngModel" required />
                </div>


                <!-- Category -->
                <div *ngIf="isBusinessFieldActive()" class="">
                  <h4>Category</h4>
                  <select class="form-control" [(ngModel)]="model.categoryValue" name="category">
                    <option value="RESTAURANT">Restaurants</option>
                    <option value="SHOPPING">Shopping</option>
                    <option value="HEALT">Health and Medicine</option>
                    <option value="EDUCATION">Education</option>
                    <option value="COFFEE">Coffee & Tea</option>
                    <option value="OTHER">Other</option>
                  </select>

                </div>

                <!-- Address Group -->
                <div ngModelGroup="address">

                    <!-- Line 1 -->
                    <div *ngIf="isBusinessFieldActive()" class="form-group">
                        <h4>Address</h4>
                        <label for="address"> Address Line 1</label>
                        <input type="text" class="form-control" name="line1" ngModel [(ngModel)]="model.line1" />
                    </div>

                    <!-- Line 2 -->
                    <div *ngIf="isBusinessFieldActive()" class="form-group">
                        <label for="address"> Address Line 2</label>
                        <input type="text" class="form-control" name="line2" ngModel [(ngModel)]="model.line2" />
                    </div>
                    <!-- City  -->
                    <div *ngIf="isBusinessFieldActive()" class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" ngModel [(ngModel)]="model.city" />
                    </div>

                    <!-- State  -->
                    <div *ngIf="isBusinessFieldActive()" class="form-group">
                        <label for="city">State</label>
                        <input type="text" class="form-control" name="state" ngModel [(ngModel)]="model.state" />
                    </div>

                    <!-- Zip Code -->
                    <div *ngIf="isBusinessFieldActive()" class="form-group">
                        <label for="zipcode">Zip Code</label>
                        <input type="number" class="form-control" name="zipcode" ngModel [(ngModel)]="model.zipcode"  />
                    </div>
                </div>



                <!-- Personal Phone Number Field -->
                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="personalNumber">Personal Phone Number</label>
                    <input type="number" class="form-control" name="personalNumber" ngModel [(ngModel)]="model.personalNumber" />
                </div>

                <!-- Business Phone Number Field -->
                <div *ngIf="isBusinessFieldActive()" class="form-group" >
                    <label for="businessNumber">Business Phone Number</label>
                    <input type="number" class="form-control" name="businessNumber" ngModel [(ngModel)]="model.businessNumber" />
                </div>

                <h4 *ngIf="defaultFieldsViawable()"> Security Questions </h4>
                <div *ngIf="defaultFieldsViawable()" class="form-group">
                  <label for="securityQuestion1"><h5>What is your mother's maiden name?</h5></label>
                </div>

                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="answer1">Answer</label>
                    <input type="text" class="form-control" name="question1" ngModel [(ngModel)]="model.answer1" required />
                </div>


                <div *ngIf="defaultFieldsViawable()" class="form-group">
                    <label for="securityQuestion2"><h5>What is your favorite place to visit as a child?</h5></label>
                </div>

                <div *ngIf="defaultFieldsViawable()" class="form-group" >
                    <label for="answer2">Answer</label>
                    <input type="text" class="form-control" name="question2" [(ngModel)]="model.answer2" #answer2="ngModel" required />
                </div>

                <button type="submit" class="btn btn-success center-block">Register</button>
                <a [routerLink]="['/home']" class="btn btn-link center-block">Cancel</a>
            </form>
        </div>
        <div class="col-md-6">

            <!-- Personal Phone Number Field -->
            <div *ngIf="defaultFieldsViawable()" class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="personalNumber">Personal Phone Number</label>
                <input type="number" class="form-control" name="personalNumber" [(ngModel)]="model.personalNumber" #personalNumber="ngModel" required />
            </div>

            <!-- Business Phone Number Field -->
            <div *ngIf="isBusinessFieldActive()" class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="businessNumber">Business Phone Number</label>
                <input type="number" class="form-control" name="businessNumber" [(ngModel)]="model.businessNumber" #businessNumber="ngModel" required />
            </div>

            <h4 *ngIf="defaultFieldsViawable()"> Security Questions </h4>
            <div *ngIf="defaultFieldsViawable()" class="form-group">
              <label for="securityQuestion1"><h5>What is your mother's maiden name?</h5></label>
            </div>

            <div *ngIf="defaultFieldsViawable()" class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="answer1">Answer</label>
                <input type="text" class="form-control" name="answer1" [(ngModel)]="model.answer1" #answer1="ngModel" required />
            </div>


            <div *ngIf="defaultFieldsViawable()" class="form-group">
                <label for="securityQuestion2"><h5>What is your favorite place to visit as a child?</h5></label>
            </div>

            <div *ngIf="defaultFieldsViawable()" class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="answer2">Answer</label>
                <input type="text" class="form-control" name="answer2" [(ngModel)]="model.answer2" #answer2="ngModel" required />
            </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-success center-block">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/home']" class="btn btn-link center-block">Cancel</a>
          </div>
        </div>
    </div>
</div>
